/*------------------------------------------------------------------------
# Consult Free HTML5 Template 1.0 - Nov 16, 2017
# ------------------------------------------------------------------------
# Designed & coded by Awe7
# Websites:  http://awe7.com -  Email: info@awe7.com
--------------------------------------------------------------------------

	1. base
	2. form-item
	3. consult_boxNumber
	4. brand_01
	5. consult_breadcrumb
	6. carousel-hash
	7. carousel
	8. Comments
	9. countDown
	10. dropdown
	11. consult_form_01
	12. consult_formSearch
	13. consult_formSub
	14. grid-css
	15. consult_iconbox
	16. consult_infobox
	17. consult_pagination
	18. consult_post_01
	19. consult_post_02
	20. consult_post_03
	21. consult_pricing
	22. social
	23. consult_tagCloud
	24. consult_testimonial
	25. consult_textbox_01
	26. consult_title-01
	27. video
	28. consult_widget_text
	29. consult_footer
	30. consult_header
	31. consult_layoutBlog
	32. consult_pageTitle
	33. consult_sidebar
	34. consult_slider

--------------------------------------------------------------------------*/



/* 1. base
--------------------------------------------------------------------------------*/

a[disabled], input[disabled], button[disabled], textarea[disabled] {
    cursor: not-allowed !important;
    opacity: .5 !important;
}

a:focus, input:focus, button:focus, textarea:focus {
    outline: none;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

.page-wrap {
    overflow: hidden;
}

.md-section {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 9;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: 320px) {
    .md-section {
        padding-top: calc(6.81818vw + 28.18182px);
        padding-bottom: calc(6.81818vw + 28.18182px);
    }
}

@media (min-width: 1200px) {
    .md-section {
        padding-top: 110px;
        padding-bottom: 110px;
    }
}

.md-text-left, .text-left {
    text-align: left !important;
}

.md-text-center, .text-center {
    text-align: center !important;
}

.md-text-right, .text-right {
    text-align: right !important;
}

.md-text-underline {
    text-decoration: underline !important;
}

.md-round {
    border-radius: 5px !important;
}

.md-pill {
    border-radius: 50% !important;
}

.md-tb {
    display: table;
    width: 100%;
    height: 100%;
}

.md-tb__cell {
    display: table-cell;
    vertical-align: middle;
}

.md-overlay {
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg-fixed {
    background-attachment: fixed;
}

.md-bg-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.full {
    width: 100%;
    height: 100vh;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive.embed-responsive-4by3 {
    padding-bottom: 75%;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive .embed-responsive-item, .embed-responsive iframe,
.embed-responsive embed, .embed-responsive object {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
a {
    color: inherit;
    text-decoration: none;
}

.row a{
    color: #64ABD1
}

img {
    vertical-align: middle;
}

a:hover {
    text-decoration: none;
    color: #64ABD1;
}

a:focus {
    text-decoration: none;
}

::-moz-selection {
    color: #fff;
    background-color: #1a1a23;
}

::selection {
    color: #fff;
    background-color: #1a1a23;
}

.md-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: 320px) {
    .md-section {
        padding-top: calc(14.88095vw + 2.38095px);
        padding-bottom: calc(14.88095vw + 2.38095px);
    }
}

@media (min-width: 992px) {
    .md-section {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 13px 25px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 0;
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus,
.btn.active.focus {
    color: #fff;
    text-decoration: none;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #fff;
    text-decoration: none;
}

.btn:active, .btn.active {
    outline: 0;
    background-image: none;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
}

a.btn.disabled, fieldset[disabled] a.btn {
    pointer-events: none;
}

.btn-default {
    color: #fff;
    background-color: #1a1a23;
    border-color: transparent;
}

.btn-default.btn-outline {
    color: #040406;
    background-color: transparent;
    border-color: #1a1a23;
}

.btn-default.btn-white {
    color: white;
    background-color: transparent;
    border-color: white;
}

.btn-default:focus, .btn-default.focus {
    color: #fff;
    background-color: #040406;
    border-color: transparent;
}

.btn-default:hover, .btn-default.hover {
    color: #fff;
    background-color: #252532;
    border-color: transparent;
}

.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #fff;
    background-color: #040406;
    border-color: transparent;
}

.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus,
.btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus,
.open > .btn-default.dropdown-toggle:hover,
.open > .btn-default.dropdown-toggle:focus,
.open > .btn-default.dropdown-toggle.focus {
    color: #fff;
    background-color: black;
    border-color: transparent;
}

.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    background-image: none;
}

.btn-default.disabled:hover, .btn-default.disabled:focus,
.btn-default.disabled.focus, .btn-default[disabled]:hover,
.btn-default[disabled]:focus, .btn-default[disabled].focus,
fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus {
    background-color: #1a1a23;
    border-color: transparent;
}

.btn-default .badge {
    color: #1a1a23;
    background-color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #64ABD1;
    border-color: transparent;
}

.btn-primary.btn-outline {
    color: #c87f0a;
    background-color: transparent;
    border-color: #64ABD1;
}

.btn-primary.btn-white {
    color: white;
    background-color: transparent;
    border-color: white;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #c87f0a;
    border-color: transparent;
}

.btn-primary:hover, .btn-primary.hover {
    color: #fff;
    background-color: #f4a62a;
    border-color: transparent;
}

.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #c87f0a;
    border-color: transparent;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus,
.btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
    color: #fff;
    background-color: #a66908;
    border-color: transparent;
}

.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    background-image: none;
}

.btn-primary.disabled:hover, .btn-primary.disabled:focus,
.btn-primary.disabled.focus, .btn-primary[disabled]:hover,
.btn-primary[disabled]:focus, .btn-primary[disabled].focus,
fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #64ABD1;
    border-color: transparent;
}

.btn-primary .badge {
    color: #64ABD1;
    background-color: #fff;
}

.btn-success {
    color: #fff;
    background-color: #3c763d;
    border-color: #336534;
}

.btn-success.btn-outline {
    color: #2b542c;
    background-color: transparent;
    border-color: #3c763d;
}

.btn-success.btn-white {
    color: white;
    background-color: transparent;
    border-color: white;
}

.btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: #2b542c;
    border-color: #336534;
}

.btn-success:hover, .btn-success.hover {
    color: #fff;
    background-color: #458746;
    border-color: #336534;
}

.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #2b542c;
    border-color: #336534;
}

.btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus,
.btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus,
.open > .btn-success.dropdown-toggle:hover,
.open > .btn-success.dropdown-toggle:focus,
.open > .btn-success.dropdown-toggle.focus {
    color: #fff;
    background-color: #1f3d1f;
    border-color: #336534;
}

.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
    background-image: none;
}

.btn-success.disabled:hover, .btn-success.disabled:focus,
.btn-success.disabled.focus, .btn-success[disabled]:hover,
.btn-success[disabled]:focus, .btn-success[disabled].focus,
fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success.focus {
    background-color: #3c763d;
    border-color: #336534;
}

.btn-success .badge {
    color: #3c763d;
    background-color: #fff;
}

.btn-info {
    color: #fff;
    background-color: #31708f;
    border-color: #2a617c;
}

.btn-info.btn-outline {
    color: #245269;
    background-color: transparent;
    border-color: #31708f;
}

.btn-info.btn-white {
    color: white;
    background-color: transparent;
    border-color: white;
}

.btn-info:focus, .btn-info.focus {
    color: #fff;
    background-color: #245269;
    border-color: #2a617c;
}

.btn-info:hover, .btn-info.hover {
    color: #fff;
    background-color: #387fa2;
    border-color: #2a617c;
}

.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #245269;
    border-color: #2a617c;
}

.btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus,
.btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus,
.open > .btn-info.dropdown-toggle:hover, .open > .btn-info.dropdown-toggle:focus,
.open > .btn-info.dropdown-toggle.focus {
    color: #fff;
    background-color: #1b3d4e;
    border-color: #2a617c;
}

.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
    background-image: none;
}

.btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus,
.btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus,
fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info.focus {
    background-color: #31708f;
    border-color: #2a617c;
}

.btn-info .badge {
    color: #31708f;
    background-color: #fff;
}

.btn-warning {
    color: #fff;
    background-color: #8a6d3b;
    border-color: #785f33;
}

.btn-warning.btn-outline {
    color: #66512c;
    background-color: transparent;
    border-color: #8a6d3b;
}

.btn-warning.btn-white {
    color: white;
    background-color: transparent;
    border-color: white;
}

.btn-warning:focus, .btn-warning.focus {
    color: #fff;
    background-color: #66512c;
    border-color: #785f33;
}

.btn-warning:hover, .btn-warning.hover {
    color: #fff;
    background-color: #9c7b43;
    border-color: #785f33;
}

.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #66512c;
    border-color: #785f33;
}

.btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active.focus,
.btn-warning.active:hover, .btn-warning.active:focus, .btn-warning.active.focus,
.open > .btn-warning.dropdown-toggle:hover,
.open > .btn-warning.dropdown-toggle:focus,
.open > .btn-warning.dropdown-toggle.focus {
    color: #fff;
    background-color: #4d3d21;
    border-color: #785f33;
}

.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
    background-image: none;
}

.btn-warning.disabled:hover, .btn-warning.disabled:focus,
.btn-warning.disabled.focus, .btn-warning[disabled]:hover,
.btn-warning[disabled]:focus, .btn-warning[disabled].focus,
fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning.focus {
    background-color: #8a6d3b;
    border-color: #785f33;
}

.btn-warning .badge {
    color: #8a6d3b;
    background-color: #fff;
}

.btn-danger {
    color: #fff;
    background-color: #d40000;
    border-color: #b00;
}

.btn-danger.btn-outline {
    color: #a10000;
    background-color: transparent;
    border-color: #d40000;
}

.btn-danger.btn-white {
    color: white;
    background-color: transparent;
    border-color: white;
}

.btn-danger:focus, .btn-danger.focus {
    color: #fff;
    background-color: #a10000;
    border-color: #b00;
}

.btn-danger:hover, .btn-danger.hover {
    color: #fff;
    background-color: #e00;
    border-color: #b00;
}

.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #a10000;
    border-color: #b00;
}

.btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus,
.btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus,
.open > .btn-danger.dropdown-toggle:hover,
.open > .btn-danger.dropdown-toggle:focus,
.open > .btn-danger.dropdown-toggle.focus {
    color: #fff;
    background-color: #7d0000;
    border-color: #b00;
}

.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
    background-image: none;
}

.btn-danger.disabled:hover, .btn-danger.disabled:focus,
.btn-danger.disabled.focus, .btn-danger[disabled]:hover,
.btn-danger[disabled]:focus, .btn-danger[disabled].focus,
fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger.focus {
    background-color: #d40000;
    border-color: #b00;
}

.btn-danger .badge {
    color: #d40000;
    background-color: #fff;
}

.btn-link {
    color: #64ABD1;
    font-weight: normal;
    border-radius: 0;
}

.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent;
}

.btn-link:hover, .btn-link:focus {
    color: #b06f09;
    text-decoration: underline;
    background-color: transparent;
}

.btn-link[disabled]:hover, .btn-link[disabled]:focus,
fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
    color: #fff;
    text-decoration: none;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 5px;
}

input[type="submit"].btn-block, input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}
.table-responsive-01 {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

.table-responsive-01 table > thead > tr > th,
.table-responsive-01 table > thead > tr > td,
.table-responsive-01 table > tbody > tr > th,
.table-responsive-01 table > tbody > tr > td,
.table-responsive-01 table > tfoot > tr > th,
.table-responsive-01 table > tfoot > tr > td {
    white-space: nowrap;
}

@media (max-width: 767px) {
    .table-responsive-02 table, .table-responsive-02 thead,
    .table-responsive-02 tbody, .table-responsive-02 th, .table-responsive-02 td,
    .table-responsive-02 tr {
        display: block;
    }

    .table-responsive-02 thead {
        border-top: 1px solid #e8e8e8 !important;
        border-bottom: none !important;
    }

    .table-responsive-02 thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-responsive-02 tr {
        padding: 15px 0;
        border-left: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
    }

    .table-responsive-02 td {
        position: relative;
        padding: 15px 10px 15px 30% !important;
    }

    .table-responsive-02 td:before {
        content: attr(data-th);
        position: absolute;
        top: 15px;
        left: 20px;
        width: 25%;
        padding-right: 10px;
    }
}


.btn {
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 15px;
    height: 46px;
    line-height: 44px;
    border: 1px solid #64ABD1;
    background-color: #64ABD1;
}

.btn-w180 {
    min-width: 180px;
}





/* 2. form-item
--------------------------------------------------------------------------------*/

.form-control, select, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"],
input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"] {
    box-shadow: none;
    outline: none;
    margin: 0;
    border-radius: 0;
    padding: 0 15px;
    line-height: 44px;
    border: 1px solid #ebebeb;
    color: #000;
    font-size: 14px;
    vertical-align: middle;
    height: 46px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f7f7f7;
}

.form-control::-webkit-input-placeholder, select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder {
    color: #c2c2c2;
}

.form-control::-moz-placeholder, select::-moz-placeholder,
textarea::-moz-placeholder, input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="date"]::-moz-placeholder, input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder, input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder, input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder, input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder, input[type="color"]::-moz-placeholder {
    color: #c2c2c2;
}

.form-control:-moz-placeholder, select:-moz-placeholder,
textarea:-moz-placeholder, input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder,
input[type="datetime-local"]:-moz-placeholder,
input[type="date"]:-moz-placeholder, input[type="month"]:-moz-placeholder,
input[type="time"]:-moz-placeholder, input[type="week"]:-moz-placeholder,
input[type="number"]:-moz-placeholder, input[type="email"]:-moz-placeholder,
input[type="url"]:-moz-placeholder, input[type="search"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder, input[type="color"]:-moz-placeholder {
    color: #c2c2c2;
}

.form-control:-ms-input-placeholder, select:-ms-input-placeholder,
textarea:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder {
    color: #c2c2c2;
}

.form-control:focus, select:focus, textarea:focus, input[type="text"]:focus,
input[type="password"]:focus, input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="date"]:focus,
input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus,
input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
    border-color: #64ABD1;
}

.form-control:focus::-webkit-input-placeholder,
select:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder,
input[type="text"]:focus::-webkit-input-placeholder,
input[type="password"]:focus::-webkit-input-placeholder,
input[type="datetime"]:focus::-webkit-input-placeholder,
input[type="datetime-local"]:focus::-webkit-input-placeholder,
input[type="date"]:focus::-webkit-input-placeholder,
input[type="month"]:focus::-webkit-input-placeholder,
input[type="time"]:focus::-webkit-input-placeholder,
input[type="week"]:focus::-webkit-input-placeholder,
input[type="number"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder,
input[type="url"]:focus::-webkit-input-placeholder,
input[type="search"]:focus::-webkit-input-placeholder,
input[type="tel"]:focus::-webkit-input-placeholder,
input[type="color"]:focus::-webkit-input-placeholder {
    color: #1f1c2f;
}

.form-control:focus::-moz-placeholder, select:focus::-moz-placeholder,
textarea:focus::-moz-placeholder, input[type="text"]:focus::-moz-placeholder,
input[type="password"]:focus::-moz-placeholder,
input[type="datetime"]:focus::-moz-placeholder,
input[type="datetime-local"]:focus::-moz-placeholder,
input[type="date"]:focus::-moz-placeholder,
input[type="month"]:focus::-moz-placeholder,
input[type="time"]:focus::-moz-placeholder,
input[type="week"]:focus::-moz-placeholder,
input[type="number"]:focus::-moz-placeholder,
input[type="email"]:focus::-moz-placeholder,
input[type="url"]:focus::-moz-placeholder,
input[type="search"]:focus::-moz-placeholder,
input[type="tel"]:focus::-moz-placeholder,
input[type="color"]:focus::-moz-placeholder {
    color: #1f1c2f;
}

.form-control:focus:-moz-placeholder, select:focus:-moz-placeholder,
textarea:focus:-moz-placeholder, input[type="text"]:focus:-moz-placeholder,
input[type="password"]:focus:-moz-placeholder,
input[type="datetime"]:focus:-moz-placeholder,
input[type="datetime-local"]:focus:-moz-placeholder,
input[type="date"]:focus:-moz-placeholder,
input[type="month"]:focus:-moz-placeholder,
input[type="time"]:focus:-moz-placeholder,
input[type="week"]:focus:-moz-placeholder,
input[type="number"]:focus:-moz-placeholder,
input[type="email"]:focus:-moz-placeholder,
input[type="url"]:focus:-moz-placeholder,
input[type="search"]:focus:-moz-placeholder,
input[type="tel"]:focus:-moz-placeholder,
input[type="color"]:focus:-moz-placeholder {
    color: #1f1c2f;
}

.form-control:focus:-ms-input-placeholder, select:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder,
input[type="text"]:focus:-ms-input-placeholder,
input[type="password"]:focus:-ms-input-placeholder,
input[type="datetime"]:focus:-ms-input-placeholder,
input[type="datetime-local"]:focus:-ms-input-placeholder,
input[type="date"]:focus:-ms-input-placeholder,
input[type="month"]:focus:-ms-input-placeholder,
input[type="time"]:focus:-ms-input-placeholder,
input[type="week"]:focus:-ms-input-placeholder,
input[type="number"]:focus:-ms-input-placeholder,
input[type="email"]:focus:-ms-input-placeholder,
input[type="url"]:focus:-ms-input-placeholder,
input[type="search"]:focus:-ms-input-placeholder,
input[type="tel"]:focus:-ms-input-placeholder,
input[type="color"]:focus:-ms-input-placeholder {
    color: #1f1c2f;
}

.form-control[disabled], select[disabled], textarea[disabled],
input[type="text"][disabled], input[type="password"][disabled],
input[type="datetime"][disabled], input[type="datetime-local"][disabled],
input[type="date"][disabled], input[type="month"][disabled],
input[type="time"][disabled], input[type="week"][disabled],
input[type="number"][disabled], input[type="email"][disabled],
input[type="url"][disabled], input[type="search"][disabled],
input[type="tel"][disabled], input[type="color"][disabled] {
    opacity: .65;
    cursor: not-allowed;
}

input:not([type="button"]):not([type="submit"]):not([type="radio"]):not([type="checkbox"]):not([type="color"]),
textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

input[type="checkbox"], input[type="radio"] {
    width: auto !important;
}

textarea {
    height: auto !important;
}

 {
    /* no-gutters Class Rules */
}

.list-style-none {
    list-style: none;
    padding: 0;
    margin: 0;
}

.image-full img {
    width: 100% !important;
}

.overflow-hidden {
    overflow: hidden;
}

.inline-block {
    display: inline-block;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}
/* Typography */

body {
    margin: 0;
    padding: 0;
    line-height: 1.875;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #626262;
}

body.md-skin-dark {
    background-color: #1a1a23;
}

.md-skin-dark {
    color: rgba(255, 255, 255, .8);
}

.md-skin-dark h1, .md-skin-dark h2, .md-skin-dark h3, .md-skin-dark h4,
.md-skin-dark h5, .md-skin-dark h6 {
    color: white;
}

a {
    color: #1f1c2f;
    transition: all .3s ease;
}

a, input, textarea, select {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.33333;
    color: #1f1c2f;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #64ABD1;
    text-decoration: none;
}

h1 {
    font-size: 68px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

h3, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 15px;
}

h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
}

blockquote {
    border: 0;
    font-size: 18px;
    padding: 30px;
    margin: 0 0 70px 0;
    position: relative;
    color: #626262;
    background-color: #f7f7f7;
}

@media (min-width: 992px) {
    blockquote {
        padding: 40px 100px;
    }
}

blockquote:before {
    content: '';
    width: 5px;
    height: 100%;
    background-color: #64ABD1;
    position: absolute;
    top: 0;
    left: 0;
}

blockquote p {
    font-style: italic;
}

blockquote p:last-child {
    margin-bottom: 0;
}

blockquote i {
    font-size: 40px !important;
    margin-bottom: 20px;
}

blockquote cite {
    display: block;
    font-size: 16px;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
}

@media (min-width: 576px) {
    blockquote {
        font-size: 22px;
    }
}

abbr {
    color: #67dee8;
    border-width: 2px;
}

mark, .mark {
    background-color: #64ABD1;
    color: #fff;
}


/* 3. consult_boxNumber
--------------------------------------------------------------------------------*/

.box-number {
    margin-bottom: 30px;
}

.box-number__number {
    color: #64ABD1;
}

.box-number__number > h2 {
    font-size: 30px;
    font-weight: 300;
    color: #64ABD1;
    margin-bottom: 5px;
    line-height: 1.333;
    display: inline-block;
    vertical-align: middle;
}

@media (min-width: 320px) {
    .box-number__number > h2 {
        font-size: calc(3.40909vw + 19.09091px);
    }
}

@media (min-width: 1200px) {
    .box-number__number > h2 {
        font-size: 60px;
    }
}

.box-number__number > span {
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
}

.box-number__description {
    font-weight: 700;
    color: #c2c2c2;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* 4. brand_01
--------------------------------------------------------------------------------*/

.brand-01__image {
    text-align: center;
    margin-bottom: 30px;
    transition: all ease .3s;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

.brand-01__image img {
    width: auto !important;
    display: inline-block !important;
}

.brand-01__image:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}


/* 5. consult_breadcrumb
--------------------------------------------------------------------------------*/

.breadcrumb__item {
    color: #626262;
}

.breadcrumb__item:after {
    content: ">";
    margin: 0 5px;
}

.breadcrumb__item.active {
    color: #c2c2c2;
}

.breadcrumb__item.active:after {
    display: none;
}


/* 6. carousel-hash
--------------------------------------------------------------------------------*/

.buttonHash {
    margin-top: 30px;
}


/* 7. carousel
--------------------------------------------------------------------------------*/

.owl-carousel .owl-item {
    display: inline-block;
    vertical-align: top;
    float: none;
}

.owl-carousel .owl-item img {
    width: 100%;
}

.owl-nav, .owl-dots {
    text-align: center;
    margin-top: 5px;
}

.owl-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    background-color: #c2c2c2;
}

.owl-dot.active {
    background-color: #64ABD1;
}

.owl-prev, .owl-next {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 0;
    display: inline-block;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.owl-prev:after, .owl-next:after {
    font-size: 36px;
    font-family: FontAwesome;
    line-height: 1;
}

.owl-prev.disabled, .owl-next.disabled {
    color: #c2c2c2;
}

.owl-prev {
    left: 0;
}

.owl-prev:after {
    content: "\F104";
}

.owl-next {
    right: 0;
}

.owl-next:after {
    content: "\F105";
}

@media (min-width: 576px) {
    .owl-prev {
        left: -40px;
    }

    .owl-next {
        right: -40px;
    }
}

.js-consult-slider .owl-item {
    opacity: .3;
}

.js-consult-slider .owl-item.active {
    opacity: 1;
}

.consult-slide {
    margin: 0 -30px;
    overflow: hidden;
}

.consult-slide .carousel__element {
    padding: 0 30px;
}

.consult-slide .owl-stage-outer {
    overflow: visible !important;
}


/* 8. Comments
--------------------------------------------------------------------------------*/

.comment-heading {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 50px;
}

.comment-heading > span {
    margin-left: 10px;
    color: #64ABD1;
}

.fn {
    font-size: 18px;
    font-weight: 700;
    color: #626262;
    margin-bottom: 15px;
}

.comment-avatar {
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 30px;
}

.comment-body {
    overflow: hidden;
}

.comment-button {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.comment-button > a {
    height: 30px;
    line-height: 30px;
    background-color: #f7f7f7;
    padding: 0 20px;
    min-width: 80px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.comment-button > a:hover {
    background-color: #64ABD1;
    color: white;
}

.comment-content {
    position: relative;
    padding-bottom: 25px;
}

.comment-text > p {
    font-size: 14px;
    margin-bottom: 15px !important;
}

.comment-metadata {
    margin-right: 20px;
    font-size: 12px;
}

.comment-metadata > a {
    margin-right: 20px;
    color: #c2c2c2;
}

.children {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comment-list {
    list-style: none;
    padding: 0;
    margin: 0 0 80px;
}

@media (min-width: 768px) {
    .comment-list .children {
        padding-left: 100px;
    }
}

.comment-list .comment-content {
    margin-bottom: 25px;
}


/* 9. countDown
--------------------------------------------------------------------------------*/

.countdown__module {
    display: table;
    width: 100%;
    height: 100%;
    margin: 80px 0;
}

@media (min-width: 768px) {
    .countdown__module {
        margin: 70px 0 130px 0;
    }
}

.countdown__module p {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    text-align: center;
}

.countdown__module span {
    font-size: 30px;
    font-weight: 400;
    color: #64ABD1;
    display: block;
    margin: 5px;
    height: 100px;
    line-height: 100px;
    background-size: white;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
}

@media (min-width: 320px) {
    .countdown__module span {
        font-size: calc(3.40909vw + 19.09091px);
    }
}

@media (min-width: 1200px) {
    .countdown__module span {
        font-size: 60px;
    }
}

@media (min-width: 768px) {
    .countdown__module span {
        height: 170px;
        line-height: 170px;
        margin: 15px;
    }
}

.countdown__module strong {
    display: block;
    color: #626262;
    font-size: 16px;
    font-weight: 700;
}


/* 10. dropdown
--------------------------------------------------------------------------------*/

.dropdown {
    position: relative;
}

.dropdown__toggle {
    font-size: 14px;
    font-weight: 700;
    color: #626262;
}

.dropdown__content {
    color: #1f1c2f;
    top: 100%;
    right: 0;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    display: block !important;
    padding: 20px;
    line-height: 1.5;
    min-width: 100px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    transition: all ease .3s;
    z-index: 99;
}

.dropdown__content[data-position="left"] {
    left: 0;
    right: auto;
}

.dropdown__content[data-position="center"] {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.dropdown__content.open {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}


/* 11. consult_form_01
--------------------------------------------------------------------------------*/

.form-01 {
    content: "";
}

.form-01__title {
    font-size: 30px;
    font-weight: 400;
    color: #1f1c2f !important;
    margin-bottom: 50px;
}

.form-01__form {
    margin: 0 -15px;
}

.form-01__form:after {
    content: "";
    display: table;
    clear: both;
}

.form-01__form .form__item {
    position: relative;
    min-height: 1px;
    padding: 0 15px;
    float: left;
    width: 100%;
}

@media (min-width: 768px) {
    .form-01__form .form__item.form__item--02 {
        width: 50%;
    }

    .form-01__form .form__item.form__item--03 {
        width: 33.3333%;
    }
}

.form-01__form .form__button {
    position: relative;
    min-height: 1px;
    padding: 0 15px;
    margin-top: 35px;
    float: left;
    width: 100%;
}

.form-01__style-02 .form-01__title {
    font-size: 24px;
}

.form-01__style-02 .form-01__form__button {
    margin-top: 20px;
}

.consult-form {
    text-align: center;
    padding: 40px 30px;
    background-color: white;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
}

@media (min-width: 992px) {
    .consult-form {
        padding: 60px 75px;
    }
}

.js-consult-form {
    position: relative;
    z-index: 99;
    padding-bottom: 50px;
}

@media (min-width: 320px) {
    .js-consult-form {
        padding-bottom: calc(37.20238vw - 69.04762px);
    }
}

@media (min-width: 992px) {
    .js-consult-form {
        padding-bottom: 300px;
    }
}

.js-consult-form .title-01 {
    margin-bottom: 30px;
}

.js-consult-form .consult-form {
    position: relative;
}

@media (max-width: 767px) {
    .js-consult-form .consult-form {
        bottom: 0 !important;
    }
}

@media (min-width: 768px) {
    .js-consult-form .consult-form {
        position: absolute;
        left: 10%;
        right: 10%;
    }
}

@media (min-width: 992px) {
    .js-consult-form .consult-form {
        left: 20%;
        right: 20%;
    }
}

@media (max-width: 1199px) {
    .js-consult-form .hidden-xl {
        display: none;
    }
}

.js-consult-form .consult-form--02 {
    padding: 0;
    overflow: hidden;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.js-consult-form .consult-form--02:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: white;
}

.js-consult-form .consult-form--02 > .form-01 {
    position: relative;
    z-index: 2;
}

@media (min-width: 1600px) {
    .js-consult-form .consult-form--02 {
        background-size: 40% 100%;
        left: 25%;
        right: 25%;
    }

    .js-consult-form .consult-form--02:after {
        display: none;
    }

    .js-consult-form .consult-form--02 .form-01 {
        width: 60%;
        float: right;
    }
}

.js-consult-form--02 {
    padding-bottom: 50px;
}

@media (min-width: 320px) {
    .js-consult-form--02 {
        padding-bottom: calc(52.08333vw - 116.66667px);
    }
}

@media (min-width: 992px) {
    .js-consult-form--02 {
        padding-bottom: 400px;
    }
}


/* 12. consult_formSearch
--------------------------------------------------------------------------------*/

.form-search {
    content: '';
}


/* 13. consult_formSub
--------------------------------------------------------------------------------*/

.form-sub {
    content: "";
}

.form-sub__form {
    display: table;
}

.form-sub__form .form-control {
    margin-bottom: 0;
    border-right: none;
}

.form-sub__form .form-control:focus {
    border-color: transparent;
}

.form-sub__form .form-button {
    color: #64ABD1;
    height: 46px;
    border: 1px solid #ebebeb;
    border-left: none;
    background-color: #f7f7f7;
    padding: 0 15px;
    cursor: pointer;
    transition: all ease .3s;
}

.form-sub__form .form-button:hover, .form-sub__form .form-button:focus {
    background-color: #64ABD1;
    border-color: #64ABD1;
    color: white;
}

.form-sub__form .form-item {
    float: left;
    width: 100%;
    display: table-cell;
}

.form-sub__form .form-submit {
    display: table-cell;
    vertical-align: middle;
    width: 1%;
}

.form-sub__form .form-submit .btn {
    min-width: 150px;
}

.form-sub__title {
    font-size: 16px;
    font-weight: 400;
    color: #c2c2c2;
    text-transform: capitalize;
}

.form-sub__style-02 .form-sub__title {
    font-size: 24px;
    color: #1a1a23;
    margin-bottom: 40px;
}
.grid-css .grid-item .grid-item__inner {
    position: relative;
}

.grid-css.grid-css--grid .grid-item__content-wrapper {
    position: absolute;
}

.grid-css.grid-css--grid .grid-item__content-wrapper {
    margin: 0 !important;
}

.grid-css.grid-css--grid .grid-item__inner {
    padding-top: 100%;
}

.grid-css.grid-css--grid .grid-item.extra-large .grid-item__inner,
.grid-css.grid-css--grid .grid-item.wide .grid-item__inner {
    padding-top: 50%;
}

.grid-css.grid-css--grid .grid-item.high .grid-item__inner {
    padding-top: 200%;
}

.grid-css.grid-css--grid[data-ratio="4by3"] .grid-item__inner {
    padding-top: 75%;
}

.grid-css.grid-css--grid[data-ratio="4by3"] .grid-item.extra-large .grid-item__inner,
.grid-css.grid-css--grid[data-ratio="4by3"] .grid-item.wide .grid-item__inner {
    padding-top: 37.5%;
}

.grid-css.grid-css--grid[data-ratio="4by3"] .grid-item.high .grid-item__inner {
    padding-top: 150%;
}

.grid-css.grid-css--grid[data-ratio="16by9"] .grid-item__inner {
    padding-top: 56.25%;
}

.grid-css.grid-css--grid[data-ratio="16by9"] .grid-item.extra-large .grid-item__inner,
.grid-css.grid-css--grid[data-ratio="16by9"] .grid-item.wide .grid-item__inner {
    padding-top: 28.125%;
}

.grid-css.grid-css--grid[data-ratio="16by9"] .grid-item.high .grid-item__inner {
    padding-top: 112.5%;
}

[data-col-xs="1"].grid-css .grid-item, [data-col-xs="1"].grid-css .grid-sizer {
    width: 100%;
}

[data-col-xs="2"].grid-css .grid-item, [data-col-xs="2"].grid-css .grid-sizer {
    width: 50%;
}

[data-col-xs="2"].grid-css .grid-item.wide,
[data-col-xs="2"].grid-css .grid-item.large {
    width: 100%;
}

[data-col-xs="2"].grid-css .grid-item.extra-large {
    width: 100%;
}

[data-col-xs="3"].grid-css .grid-item, [data-col-xs="3"].grid-css .grid-sizer {
    width: 33.33333%;
}

[data-col-xs="3"].grid-css .grid-item.wide,
[data-col-xs="3"].grid-css .grid-item.large {
    width: 66.66667%;
}

[data-col-xs="3"].grid-css .grid-item.extra-large {
    width: 100%;
}

[data-col-xs="4"].grid-css .grid-item, [data-col-xs="4"].grid-css .grid-sizer {
    width: 25%;
}

[data-col-xs="4"].grid-css .grid-item.wide,
[data-col-xs="4"].grid-css .grid-item.large {
    width: 50%;
}

[data-col-xs="4"].grid-css .grid-item.extra-large {
    width: 100%;
}

[data-col-xs="5"].grid-css .grid-item, [data-col-xs="5"].grid-css .grid-sizer {
    width: 20%;
}

[data-col-xs="5"].grid-css .grid-item.wide,
[data-col-xs="5"].grid-css .grid-item.large {
    width: 40%;
}

[data-col-xs="5"].grid-css .grid-item.extra-large {
    width: 100%;
}

[data-col-xs="6"].grid-css .grid-item, [data-col-xs="6"].grid-css .grid-sizer {
    width: 16.66667%;
}

[data-col-xs="6"].grid-css .grid-item.wide,
[data-col-xs="6"].grid-css .grid-item.large {
    width: 33.33333%;
}

[data-col-xs="6"].grid-css .grid-item.extra-large {
    width: 100%;
}

[data-col-xs="7"].grid-css .grid-item, [data-col-xs="7"].grid-css .grid-sizer {
    width: 14.28571%;
}

[data-col-xs="7"].grid-css .grid-item.wide,
[data-col-xs="7"].grid-css .grid-item.large {
    width: 28.57143%;
}

[data-col-xs="7"].grid-css .grid-item.extra-large {
    width: 100%;
}

[data-col-xs="8"].grid-css .grid-item, [data-col-xs="8"].grid-css .grid-sizer {
    width: 12.5%;
}

[data-col-xs="8"].grid-css .grid-item.wide,
[data-col-xs="8"].grid-css .grid-item.large {
    width: 25%;
}

[data-col-xs="8"].grid-css .grid-item.extra-large {
    width: 100%;
}

[data-col-xs="9"].grid-css .grid-item, [data-col-xs="9"].grid-css .grid-sizer {
    width: 11.11111%;
}

[data-col-xs="9"].grid-css .grid-item.wide,
[data-col-xs="9"].grid-css .grid-item.large {
    width: 22.22222%;
}

[data-col-xs="9"].grid-css .grid-item.extra-large {
    width: 100%;
}

[data-col-xs="10"].grid-css .grid-item, [data-col-xs="10"].grid-css .grid-sizer {
    width: 10%;
}

[data-col-xs="10"].grid-css .grid-item.wide,
[data-col-xs="10"].grid-css .grid-item.large {
    width: 20%;
}

[data-col-xs="10"].grid-css .grid-item.extra-large {
    width: 100%;
}

@media (min-width: 768px) {
    [data-col-sm="1"].grid-css .grid-item,
    [data-col-sm="1"].grid-css .grid-sizer {
        width: 100%;
    }

    [data-col-sm="2"].grid-css .grid-item,
    [data-col-sm="2"].grid-css .grid-sizer {
        width: 50%;
    }

    [data-col-sm="2"].grid-css .grid-item.wide,
    [data-col-sm="2"].grid-css .grid-item.large {
        width: 100%;
    }

    [data-col-sm="2"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-sm="3"].grid-css .grid-item,
    [data-col-sm="3"].grid-css .grid-sizer {
        width: 33.33333%;
    }

    [data-col-sm="3"].grid-css .grid-item.wide,
    [data-col-sm="3"].grid-css .grid-item.large {
        width: 66.66667%;
    }

    [data-col-sm="3"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-sm="4"].grid-css .grid-item,
    [data-col-sm="4"].grid-css .grid-sizer {
        width: 25%;
    }

    [data-col-sm="4"].grid-css .grid-item.wide,
    [data-col-sm="4"].grid-css .grid-item.large {
        width: 50%;
    }

    [data-col-sm="4"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-sm="5"].grid-css .grid-item,
    [data-col-sm="5"].grid-css .grid-sizer {
        width: 20%;
    }

    [data-col-sm="5"].grid-css .grid-item.wide,
    [data-col-sm="5"].grid-css .grid-item.large {
        width: 40%;
    }

    [data-col-sm="5"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-sm="6"].grid-css .grid-item,
    [data-col-sm="6"].grid-css .grid-sizer {
        width: 16.66667%;
    }

    [data-col-sm="6"].grid-css .grid-item.wide,
    [data-col-sm="6"].grid-css .grid-item.large {
        width: 33.33333%;
    }

    [data-col-sm="6"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-sm="7"].grid-css .grid-item,
    [data-col-sm="7"].grid-css .grid-sizer {
        width: 14.28571%;
    }

    [data-col-sm="7"].grid-css .grid-item.wide,
    [data-col-sm="7"].grid-css .grid-item.large {
        width: 28.57143%;
    }

    [data-col-sm="7"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-sm="8"].grid-css .grid-item,
    [data-col-sm="8"].grid-css .grid-sizer {
        width: 12.5%;
    }

    [data-col-sm="8"].grid-css .grid-item.wide,
    [data-col-sm="8"].grid-css .grid-item.large {
        width: 25%;
    }

    [data-col-sm="8"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-sm="9"].grid-css .grid-item,
    [data-col-sm="9"].grid-css .grid-sizer {
        width: 11.11111%;
    }

    [data-col-sm="9"].grid-css .grid-item.wide,
    [data-col-sm="9"].grid-css .grid-item.large {
        width: 22.22222%;
    }

    [data-col-sm="9"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-sm="10"].grid-css .grid-item,
    [data-col-sm="10"].grid-css .grid-sizer {
        width: 10%;
    }

    [data-col-sm="10"].grid-css .grid-item.wide,
    [data-col-sm="10"].grid-css .grid-item.large {
        width: 20%;
    }

    [data-col-sm="10"].grid-css .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 992px) {
    [data-col-md="1"].grid-css .grid-item,
    [data-col-md="1"].grid-css .grid-sizer {
        width: 100%;
    }

    [data-col-md="2"].grid-css .grid-item,
    [data-col-md="2"].grid-css .grid-sizer {
        width: 50%;
    }

    [data-col-md="2"].grid-css .grid-item.wide,
    [data-col-md="2"].grid-css .grid-item.large {
        width: 100%;
    }

    [data-col-md="2"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-md="3"].grid-css .grid-item,
    [data-col-md="3"].grid-css .grid-sizer {
        width: 33.33333%;
    }

    [data-col-md="3"].grid-css .grid-item.wide,
    [data-col-md="3"].grid-css .grid-item.large {
        width: 66.66667%;
    }

    [data-col-md="3"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-md="4"].grid-css .grid-item,
    [data-col-md="4"].grid-css .grid-sizer {
        width: 25%;
    }

    [data-col-md="4"].grid-css .grid-item.wide,
    [data-col-md="4"].grid-css .grid-item.large {
        width: 50%;
    }

    [data-col-md="4"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-md="5"].grid-css .grid-item,
    [data-col-md="5"].grid-css .grid-sizer {
        width: 20%;
    }

    [data-col-md="5"].grid-css .grid-item.wide,
    [data-col-md="5"].grid-css .grid-item.large {
        width: 40%;
    }

    [data-col-md="5"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-md="6"].grid-css .grid-item,
    [data-col-md="6"].grid-css .grid-sizer {
        width: 16.66667%;
    }

    [data-col-md="6"].grid-css .grid-item.wide,
    [data-col-md="6"].grid-css .grid-item.large {
        width: 33.33333%;
    }

    [data-col-md="6"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-md="7"].grid-css .grid-item,
    [data-col-md="7"].grid-css .grid-sizer {
        width: 14.28571%;
    }

    [data-col-md="7"].grid-css .grid-item.wide,
    [data-col-md="7"].grid-css .grid-item.large {
        width: 28.57143%;
    }

    [data-col-md="7"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-md="8"].grid-css .grid-item,
    [data-col-md="8"].grid-css .grid-sizer {
        width: 12.5%;
    }

    [data-col-md="8"].grid-css .grid-item.wide,
    [data-col-md="8"].grid-css .grid-item.large {
        width: 25%;
    }

    [data-col-md="8"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-md="9"].grid-css .grid-item,
    [data-col-md="9"].grid-css .grid-sizer {
        width: 11.11111%;
    }

    [data-col-md="9"].grid-css .grid-item.wide,
    [data-col-md="9"].grid-css .grid-item.large {
        width: 22.22222%;
    }

    [data-col-md="9"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-md="10"].grid-css .grid-item,
    [data-col-md="10"].grid-css .grid-sizer {
        width: 10%;
    }

    [data-col-md="10"].grid-css .grid-item.wide,
    [data-col-md="10"].grid-css .grid-item.large {
        width: 20%;
    }

    [data-col-md="10"].grid-css .grid-item.extra-large {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    [data-col-lg="1"].grid-css .grid-item,
    [data-col-lg="1"].grid-css .grid-sizer {
        width: 100%;
    }

    [data-col-lg="2"].grid-css .grid-item,
    [data-col-lg="2"].grid-css .grid-sizer {
        width: 50%;
    }

    [data-col-lg="2"].grid-css .grid-item.wide,
    [data-col-lg="2"].grid-css .grid-item.large {
        width: 100%;
    }

    [data-col-lg="2"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-lg="3"].grid-css .grid-item,
    [data-col-lg="3"].grid-css .grid-sizer {
        width: 33.33333%;
    }

    [data-col-lg="3"].grid-css .grid-item.wide,
    [data-col-lg="3"].grid-css .grid-item.large {
        width: 66.66667%;
    }

    [data-col-lg="3"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-lg="4"].grid-css .grid-item,
    [data-col-lg="4"].grid-css .grid-sizer {
        width: 25%;
    }

    [data-col-lg="4"].grid-css .grid-item.wide,
    [data-col-lg="4"].grid-css .grid-item.large {
        width: 50%;
    }

    [data-col-lg="4"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-lg="5"].grid-css .grid-item,
    [data-col-lg="5"].grid-css .grid-sizer {
        width: 20%;
    }

    [data-col-lg="5"].grid-css .grid-item.wide,
    [data-col-lg="5"].grid-css .grid-item.large {
        width: 40%;
    }

    [data-col-lg="5"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-lg="6"].grid-css .grid-item,
    [data-col-lg="6"].grid-css .grid-sizer {
        width: 16.66667%;
    }

    [data-col-lg="6"].grid-css .grid-item.wide,
    [data-col-lg="6"].grid-css .grid-item.large {
        width: 33.33333%;
    }

    [data-col-lg="6"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-lg="7"].grid-css .grid-item,
    [data-col-lg="7"].grid-css .grid-sizer {
        width: 14.28571%;
    }

    [data-col-lg="7"].grid-css .grid-item.wide,
    [data-col-lg="7"].grid-css .grid-item.large {
        width: 28.57143%;
    }

    [data-col-lg="7"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-lg="8"].grid-css .grid-item,
    [data-col-lg="8"].grid-css .grid-sizer {
        width: 12.5%;
    }

    [data-col-lg="8"].grid-css .grid-item.wide,
    [data-col-lg="8"].grid-css .grid-item.large {
        width: 25%;
    }

    [data-col-lg="8"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-lg="9"].grid-css .grid-item,
    [data-col-lg="9"].grid-css .grid-sizer {
        width: 11.11111%;
    }

    [data-col-lg="9"].grid-css .grid-item.wide,
    [data-col-lg="9"].grid-css .grid-item.large {
        width: 22.22222%;
    }

    [data-col-lg="9"].grid-css .grid-item.extra-large {
        width: 100%;
    }

    [data-col-lg="10"].grid-css .grid-item,
    [data-col-lg="10"].grid-css .grid-sizer {
        width: 10%;
    }

    [data-col-lg="10"].grid-css .grid-item.wide,
    [data-col-lg="10"].grid-css .grid-item.large {
        width: 20%;
    }

    [data-col-lg="10"].grid-css .grid-item.extra-large {
        width: 100%;
    }
}

[data-gap="5"].grid-css .grid__inner {
    margin: -3px;
}

[data-gap="5"].grid-css .grid__inner .grid-item .grid-item__content-wrapper {
    margin: 3px;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
}

[data-gap="10"].grid-css .grid__inner {
    margin: -5px;
}

[data-gap="10"].grid-css .grid__inner .grid-item .grid-item__content-wrapper {
    margin: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
}

[data-gap="15"].grid-css .grid__inner {
    margin: -8px;
}

[data-gap="15"].grid-css .grid__inner .grid-item .grid-item__content-wrapper {
    margin: 8px;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
}

[data-gap="20"].grid-css .grid__inner {
    margin: -10px;
}

[data-gap="20"].grid-css .grid__inner .grid-item .grid-item__content-wrapper {
    margin: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
}

[data-gap="25"].grid-css .grid__inner {
    margin: -13px;
}

[data-gap="25"].grid-css .grid__inner .grid-item .grid-item__content-wrapper {
    margin: 13px;
    top: 13px;
    right: 13px;
    bottom: 13px;
    left: 13px;
}

[data-gap="30"].grid-css .grid__inner {
    margin: -15px;
}

[data-gap="30"].grid-css .grid__inner .grid-item .grid-item__content-wrapper {
    margin: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
}

[data-gap="35"].grid-css .grid__inner {
    margin: -18px;
}

[data-gap="35"].grid-css .grid__inner .grid-item .grid-item__content-wrapper {
    margin: 18px;
    top: 18px;
    right: 18px;
    bottom: 18px;
    left: 18px;
}

[data-gap="40"].grid-css .grid__inner {
    margin: -20px;
}

[data-gap="40"].grid-css .grid__inner .grid-item .grid-item__content-wrapper {
    margin: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
}

[data-gap="45"].grid-css .grid__inner {
    margin: -23px;
}

[data-gap="45"].grid-css .grid__inner .grid-item .grid-item__content-wrapper {
    margin: 23px;
    top: 23px;
    right: 23px;
    bottom: 23px;
    left: 23px;
}

[data-gap="50"].grid-css .grid__inner {
    margin: -25px;
}

[data-gap="50"].grid-css .grid__inner .grid-item .grid-item__content-wrapper {
    margin: 25px;
    top: 25px;
    right: 25px;
    bottom: 25px;
    left: 25px;
}



/* 14. grid-css
--------------------------------------------------------------------------------*/

.grid-css {
    margin: 0;
}

.grid-css .grid-item, .grid-css .grid-sizer {
    width: 100%;
}

.grid-css .grid-item .grid-item__inner .grid-item__content-wrapper {
    background-color: #ccc;
}

.grid-css.grid-css--grid .grid-item__content-wrapper {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.grid-css {
    margin-bottom: 80px;
}

.grid-css .grid-item .grid-item__inner .grid-item__content-wrapper {
    background-color: transparent;
}


/* 15. consult_iconbox
--------------------------------------------------------------------------------*/

.iconbox {
    text-align: center;
    margin-bottom: 50px;
}

@media (min-width: 320px) {
    .iconbox {
        margin-bottom: calc(7.95455vw + 24.54545px);
    }
}

@media (min-width: 1200px) {
    .iconbox {
        margin-bottom: 120px;
    }
}

.iconbox__icon {
    font-size: 36px;
    color: #c2c2c2;
    margin-bottom: 15px;
    transition: all ease .3s;
}

.iconbox__title {
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
}

@media (min-width: 320px) {
    .iconbox__title {
        font-size: calc(1.36364vw + 25.63636px);
    }
}

@media (min-width: 1200px) {
    .iconbox__title {
        font-size: 42px;
    }
}

.iconbox__description {
    content: "";
}

.iconbox__style-02 {
    margin-bottom: 30px;
}

.iconbox__style-02 .iconbox__icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
    margin-bottom: 30px;
    color: #64ABD1;
    font-size: 24px;
}

.iconbox__style-02 .iconbox__title {
    font-size: 20px;
}

.iconbox__style-02 .iconbox__description {
    color: #c2c2c2;
}

.iconbox__style-03 .iconbox__icon {
    font-size: 30px;
}

@media (min-width: 320px) {
    .iconbox__style-03 .iconbox__icon {
        font-size: calc(3.40909vw + 19.09091px);
    }
}

@media (min-width: 1200px) {
    .iconbox__style-03 .iconbox__icon {
        font-size: 60px;
    }
}

.iconbox__style-03 .iconbox__title {
    font-size: 20px;
}

.iconbox__style-03 .iconbox__description {
    color: #c2c2c2;
}

.iconbox__style-03:hover .iconbox__icon, .iconbox__style-03:focus .iconbox__icon {
    color: #64ABD1;
}

.iconbox__style-04 .iconbox__icon {
    display: inline-block;
    font-size: 48px;
    color: #64ABD1;
    text-align: left;
    position: relative;
    line-height: 1;
}

.iconbox__style-04 .iconbox__icon:after {
    content: '';
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #ebebeb;
    border-radius: 50%;
    overflow: hidden;
    top: -5px;
    left: 0;
    position: absolute;
    z-index: -1;
}

.iconbox__style-04 .iconbox__title {
    font-size: 20px;
    font-weight: 700;
}


/* 16. consult_infobox
--------------------------------------------------------------------------------*/

.infobox {
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .infobox {
        margin-bottom: 40px;
    }
}

.infobox__title {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.infobox__description {
    font-size: 16px;
}

.infobox__description > p {
    margin-bottom: 0;
}


/* 17. consult_pagination
--------------------------------------------------------------------------------*/

.pagination {
    text-align: center;
}

.pagination__item {
    font-size: 16px;
    font-weight: 700;
    color: #c2c2c2;
    display: inline-block;
    padding: 10px;
}

.pagination__item:hover {
    color: #1f1c2f;
}

.pagination__item.active {
    color: #64ABD1;
    text-decoration: underline;
}


/* 18. consult_post_01
--------------------------------------------------------------------------------*/

.post-01__media {
    margin-bottom: 35px;
}

.post-01__media img {
    width: 100% !important;
}

.post-01__categories {
    list-style: none;
    padding: 0;
    margin: 0;
}

.post-01__categories a {
    color: #64ABD1;
    text-transform: uppercase;
}

.post-01__categories a:hover {
    text-decoration: underline;
}

.post-01__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.post-01__time {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    color: #c2c2c2;
}

.post-01__note {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    color: #626262;
}

.post-01__style-02 {
    margin-bottom: 50px;
}

@media (min-width: 0) {
    .post-01__style-02 {
        margin-bottom: calc(4.16667vw + 50px);
    }
}

@media (min-width: 1200px) {
    .post-01__style-02 {
        margin-bottom: 100px;
    }
}

.post-01__style-02 .post-01__categories a {
    font-size: 14px;
    text-transform: capitalize;
}

.post-01__style-02 .post-01__title {
    font-size: 24px;
}

.post-01__style-03 .post-01__title {
    font-size: 16px;
}

.post-01__style-03 .post-01__note, .post-01__style-03 .post-01__time {
    font-size: 12px;
}


/* 19. consult_post_02
--------------------------------------------------------------------------------*/

.post-02 {
    position: relative;
    margin-bottom: 30px;
}

.post-02__media img {
    width: 100%;
}

.post-02__body {
    padding: 20px 30px;
    border: 1px solid #ebebeb;
    border-top: none;
}

.post-02__title {
    font-size: 18px;
    margin-bottom: 0;
}

.post-02__department {
    color: #c2c2c2;
}

.post-02__content {
    content: "";
}

.post-02__description {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    height: 131.25px;
    /* Fallback for non-webkit */
    margin: 0 auto 20px;
    font-size: 14px;
    line-height: 1.875;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 768px) {
    .post-02__description {
        margin-bottom: 55px;
    }
}

.post-02__link {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
}

.post-02__style-02 {
    overflow: hidden;
}

.post-02__style-02:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
    background: rgba(243, 156, 18, .9);
    opacity: 0;
    visibility: hidden;
    transition: all ease-out .5s;
}

.post-02__style-02:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, .65) 0%, transparent 80%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
}

.post-02__style-02 .post-02__body {
    border: none;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 3;
    padding: 30px;
    color: white;
    transition: all ease .5s;
}

@media (min-width: 992px) {
    .post-02__style-02 .post-02__body {
        padding: 50px;
    }
}

.post-02__style-02 .post-02__title {
    font-size: 24px;
    font-weight: 400;
}

.post-02__style-02 .post-02__title a {
    color: white !important;
}

.post-02__style-02 .post-02__department {
    margin-bottom: 20px;
}

@media (min-width: 320) {
    .post-02__style-02 .post-02__department {
        margin-bottom: calc(4.46429vw + 5.71429px);
    }
}

@media (min-width: 768px) {
    .post-02__style-02 .post-02__department {
        margin-bottom: 40px;
    }
}

.post-02__style-02 .post-02__link {
    color: white;
}

.post-02__style-02:hover:before {
    opacity: 1;
    visibility: visible;
}

.post-02__style-02:hover .post-02__department {
    color: white;
}

.consult-project {
    padding: 0 30px;
}

@media (min-width: 576px) {
    .consult-project {
        padding: 0 75px;
    }
}


/* 20. consult_post_03
--------------------------------------------------------------------------------*/

.post-03 {
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}

@media (min-width: 0) {
    .post-03 {
        margin-bottom: calc(10.08065vw + 50px);
    }
}

@media (min-width: 992px) {
    .post-03 {
        margin-bottom: 150px;
    }
}

@media (min-width: 992px) {
    .post-03__media {
        top: 0;
        left: 0;
        bottom: 0;
        position: absolute;
        width: 50%;
        padding-right: 70px;
    }
}

.post-03__media img {
    width: 100%;
    height: 100%;
}

.post-03__body {
    padding: 30px 10% 30px 0;
}

@media (min-width: 992px) {
    .post-03__body {
        float: right;
        width: 50%;
    }
}

.post-03__subTitle {
    font-size: 16px;
    font-weight: 700;
    color: #c2c2c2;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.post-03__title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}

@media (min-width: 0) {
    .post-03__title {
        font-size: calc(1.5625vw + 30px);
    }
}

@media (min-width: 768px) {
    .post-03__title {
        font-size: 42px;
    }
}

.post-03__description {
    margin-bottom: 35px;
}

.post-03__link {
    color: #64ABD1;
    text-transform: uppercase;
    font-weight: 700;
}

.post-03__link > i {
    margin-left: 10px;
}

@media (min-width: 992px) {
    .post-03__reverse .post-03__media {
        right: 0;
        left: auto;
    }

    .post-03__reverse .post-03__body {
        float: left;
    }
}


/* 21. consult_pricing
--------------------------------------------------------------------------------*/

.pricing {
    text-align: center;
    background-color: white;
    border: 1px solid #ebebeb;
    transition: all ease .3s;
    padding: 40px 20px;
    margin-bottom: 30px;
}

.pricing:hover {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
}

.pricing__icon {
    font-size: 40px;
}

.pricing__title {
    font-size: 16px;
    font-weight: 700;
    color: #626262;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.pricing__list {
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
}

.pricing__list > li {
    margin-bottom: 5px;
}

.pricing__list > li.disable {
    color: #c2c2c2;
}

.pricing__price {
    font-weight: 700;
    font-size: 40px;
    color: #1f1c2f;
    line-height: 1;
    margin-bottom: 35px;
}

.pricing__price > span {
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

.pricing__price .pricing__time {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-left: 10px;
    vertical-align: bottom !important;
}

.pricing__time {
    color: #c2c2c2;
    text-transform: uppercase;
}


/* 22. social
--------------------------------------------------------------------------------*/

.social-01 {
    text-align: center;
}

.social-01__title {
    font-size: 12px;
    font-weight: 600;
    color: #1c1c1c;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
}

.social-01__navSocial {
    overflow: hidden;
}

.social-01__item {
    color: #c2c2c2;
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    transition: all ease .3s;
}

.social-01__style-02 .social-01__item {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    padding: 0;
    margin: 0 10px;
    background-color: #f7f7f7;
}

.social-01__style-02 .social-01__item:hover {
    background-color: #64ABD1;
    color: white;
}

.social-01__style-03 .social-01__title {
    font-size: 16px;
    color: #626262;
    letter-spacing: 0;
    text-transform: capitalize;
    display: inline-block;
    margin-right: 20px;
}

.social-01__style-03 .social-01__navSocial {
    display: inline-block;
    vertical-align: middle;
}


/* 23. consult_tagCloud
--------------------------------------------------------------------------------*/

.tagclould > a {
    font-weight: 700;
    color: #c2c2c2;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 10px 5px 0;
    margin-right: 5px;
}

.tagclould > a:first-child {
    padding-left: 0;
    margin-left: 0;
}

.tagclould > a:last-child {
    padding-right: 0;
    margin-right: 0;
}

.tagclould > a:hover {
    color: #64ABD1;
    text-decoration: underline;
}


/* 24. consult_testimonial
--------------------------------------------------------------------------------*/

.testimonial {
    border: 1px solid #ebebeb;
    padding: 40px;
    margin: 50px 0;
    transition: all ease .3s;
}

.testimonial:hover {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
}

.testimonial__info {
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}

.testimonial__info:after {
    content: "\E67E";
    font-family: 'themify';
    font-size: 48px;
    color: #c2c2c2;
    top: -15px;
    right: 5px;
    position: absolute;
}

.testimonial__avatar {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}

.testimonial__name {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.testimonial__position {
    color: #c2c2c2;
}

.testimonial__content {
    font-size: 16px;
}

.testimonial__text {
    font-size: 16px;
}


/* 25. consult_textbox_01
--------------------------------------------------------------------------------*/

.textbox {
    padding: 10px;
    margin: 50px 0;
    background-color: white;
    text-align: center;
    transition: all ease .3s;
}

.textbox:hover {
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, .2);
}

.staff-photos .textbox:hover {
    box-shadow: none;
}

.textbox__image img {
    width: 100%;
}

.textbox__body {
    padding: 20px;
}

@media (min-width: 992px) {
    .textbox__body {
        padding: 25px 22px;
    }
}

.textbox__title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.textbox__description {
    color: #c2c2c2;
}

.textbox__style-02 {
    border: 1px solid #ebebeb;
}

.textbox__style-02 .textbox__description {
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .textbox-group {
        position: relative;
        -webkit-transform: translateY(-35%);
                transform: translateY(-35%);
    }
}


/* 26. consult_title-01
--------------------------------------------------------------------------------*/

.title-01 {
    text-align: center;
    margin-bottom: 30px;
}

@media (min-width: 992px) {
    .title-01 {
        margin-bottom: 100px;
    }
}

.title-01__subTitle {
    color: #c2c2c2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.title-01__title {
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 30px;
}

@media (min-width: 320px) {
    .title-01__title {
        font-size: calc(1.36364vw + 25.63636px);
    }
}

@media (min-width: 1200px) {
    .title-01__title {
        font-size: 42px;
    }
}

.title-01__title > span, .title-01__title > a {
    color: #64ABD1;
}

.title-01__style-02 .title-01__title {
    font-size: 30px;
}

@media (min-width: 992px) {
    .title-01__style-03 {
        padding-right: 10%;
        margin-bottom: 70px;
    }
}

.title-01__style-03 .title-01__title {
    margin-bottom: 30px;
}

.title-01__style-04 .title-01__title {
    margin-bottom: 35px;
}

.title-01__style-05 .title-01__subTitle {
    font-size: 16px;
}

.title-01__style-05 .title-01__title {
    font-weight: 700;
}

.title-01__style-05 .title-01__title > span,
.title-01__style-05 .title-01__title > a {
    text-decoration: underline;
}


/* 27. video
--------------------------------------------------------------------------------*/

.video-content {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-transform: scale(1);
            transform: scale(1);
    transition: all ease 1s;
}

.video-background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ccc;
}

.video-background:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, .1);
    z-index: 1;
}

.video-background img {
    width: 100%;
}

.video-inner {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
}

.video-title {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
}

@media (min-width: 400px) {
    .video-title {
        font-size: calc(2.75vw + 5px);
    }
}

@media (min-width: 1200px) {
    .video-title {
        font-size: 38px;
    }
}

.video-button {
    font-size: 20px;
    width: 65px;
    height: 65px;
    line-height: 63px;
    border: 2px solid white;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease .3s;
}

.video-button i {
    margin-left: 5px;
}

.video-button:hover, .video-button:focus {
    border-color: #64ABD1;
    background-color: #64ABD1;
}

.video {
    position: relative;
    overflow: hidden;
}

.video.play-video:after, .video.play-video .video-content {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
}

.video--popup .video-background {
    position: static;
}


/* 28. consult_widget_text
--------------------------------------------------------------------------------*/

.widget-text__widget {
    color: #c2c2c2;
}

.widget-text__widget ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.widget-text__widget ul li {
    font-size: 16px;
    margin-bottom: 10px;
}

.widget-text__widget ul li a {
    display: block;
}

.widget-text__widget + .widget-text__widget {
    margin-top: 40px;
}

@media (min-width: 320px) {
    .widget-text__widget + .widget-text__widget {
        margin-top: calc(5.11364vw + 23.63636px);
    }
}

@media (min-width: 1200px) {
    .widget-text__widget + .widget-text__widget {
        margin-top: 85px;
    }
}

.widget-title {
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.widget-text__style-02 ul li, .widget-text__style-03 ul li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 6px;
}

.widget-text__style-02 ul li:before, .widget-text__style-03 ul li:before {
    content: "\F105";
    font-family: FontAwesome;
    display: inline-block;
    top: 50%;
    left: 0;
    position: absolute;
    margin-top: -15px;
}

.widget-text__style-02 ul li:hover, .widget-text__style-02 ul li:focus,
.widget-text__style-03 ul li:hover, .widget-text__style-03 ul li:focus {
    color: #64ABD1;
}

.widget-text__style-03 ul li a {
    color: #c2c2c2;
}

.widget-text__style-03 ul li a:hover, .widget-text__style-03 ul li a:focus {
    color: #64ABD1;
}

.widget-text__style-04 .widget-text__content > * {
    padding: 25px 0;
    border-bottom: 1px solid #ebebeb;
}

.widget-text__style-04 .widget-text__content > *:first-child {
    padding-top: 0;
}

.widget-text__style-04 .widget-text__content > *:last-child {
    border-bottom: none;
}


/* 29. consult_footer
--------------------------------------------------------------------------------*/

.footer {
    background-color: #1a1a23;
    overflow: hidden;
    color: #c2c2c2;
}

.footer .row {
    position: relative;
}

.footer .widget-text__widget ul li a {
    color: #c2c2c2;
}

.footer .widget-text__widget ul li a:hover {
    color: #64ABD1;
}

.footer__main {
    padding: 80px 15px 50px;
}

@media (min-width: 768px) {
    .footer__main {
        padding: 80px 30px 40px;
    }
}

@media (min-width: 1200px) {
    .footer__main {
        padding: 140px 75px 60px;
    }
}

.footer__copyright {
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid rgba(235, 235, 235, .1);
}

.footer__item {
    margin-bottom: 40px;
}

.footer__item .consult_logo {
    margin-bottom: 20px;
}

.footer__item .form-sub {
    padding-right: 0;
}

.consult_backToTop {
    top: 0;
    right: 30px;
    position: absolute;
    display: block;
    text-align: right;
}

.consult_backToTop a {
    color: #64ABD1 !important;
    padding-right: 0;
}

.consult_backToTop i {
    margin-right: 10px;
}

@media (min-width: 768px) {
    .consult_backToTop {
        padding-right: 0;
    }
}

@media (min-width: 992px) {
    .consult_backToTop {
        position: static;
    }
}
@charset "UTF-8";



/* 30. consult_header
--------------------------------------------------------------------------------*/

.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
    transition: background ease .3s;
}

.header .container {
    position: relative;
}

.header:after, .header:before {
    content: "";
    display: table;
    clear: both;
}

.header .consult-nav {
    float: right;
    transition: padding .3s ease;
    padding: 35px 20px;
}

.header .consult-nav .consult-menu a {
    text-transform: capitalize;
}

@media (min-width: 992px) {
    .header .consult-nav .consult-menu a {
        text-transform: uppercase;
    }
}

@media (min-width: 992px) {
    .header .consult-nav {
        text-align: center;
        padding: 0;
        float: none;
    }
}

.header .search-form {
    display: inline-block;
    margin-left: 10px;
}

@media (min-width: 992px) {
    .header .search-form {
        margin-left: 40px;
    }
}

.header.shrink {
    position: fixed;
    background-color: white;
}

.header.shrink .header__logo {
    height: 60px;
    line-height: 60px;
}

.header.shrink .header__chooseLanguage, .header.shrink .search-form__toggle {
    height: 70px;
    line-height: 70px;
}

@media (min-width: 992px) {
    .header.shrink .consult-nav .consult-menu > li > a {
        height: 70px;
        line-height: 70px;
    }
}

.header.shrink .consult-nav {
    padding: 15px 20px;
}

@media (min-width: 992px) {
    .header.shrink .consult-nav {
        padding: 0;
    }
}

.header + * {
    margin-top: 100px;
}

.header__logo {
    height: 100px;
    max-width: 230px;
    line-height: 100px;
    float: left;
    transition: height .3s ease;
}

.header__chooseLanguage {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    transition: height .3s ease;
}

.header__chooseLanguage i {
    margin: 0 5px;
}

.header__chooseLanguage a {
    display: block;
}

.header__toogleGroup {
    float: right;
}

.search-form__toggle {
    height: 100px;
    line-height: 100px;
    transition: height .3s ease;
    cursor: pointer;
}

.search-form__form {
    top: 100%;
    right: 0;
    position: absolute;
    width: 100%;
    height: 60px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    transition: all .3s ease;
}

@media (min-width: 576px) {
    .search-form__form {
        width: 300px;
    }
}

.search-form__form .form-search, .search-form__form .form-search > form,
.search-form__form .form-search > form > input {
    height: 100%;
    background-color: white;
}

.search-form {
    position: relative;
}

.search-form.open .search-form__form {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.header__style-02 {
    background-color: transparent;
}

.header__style-02 + * {
    margin-top: 0;
}

.header__style-02:not(.shrink) {
    box-shadow: none;
}

.header__style-02:not(.shrink) .consult-nav .consult-menu > li > a {
    color: #fff;
}

.header__style-02:not(.shrink) .consult-nav .consult-menu .current-menu-item > a {
    color: #64ABD1;
}

.header__style-02:not(.shrink) .dropdown__toggle {
    color: #c2c2c2;
}

.header__style-02:not(.shrink) .search-form__toggle {
    color: #fefefe;
}

.header__style-02 .navbar-toggle > span {
    background-color: #fefefe;
}

.header__style-03 {
    background-color: transparent;
    box-shadow: none;
}

.header__style-03 + * {
    margin-top: 0;
}

.navbar-toggle {
    cursor: pointer;
}

.navbar-toggle > span {
    width: 31px;
    height: 3px;
    background-color: #1f1c2f;
    display: block;
    margin: 5px auto;
    transition: all .3s ease-in-out;
}

.navbar-toggle.open > span:nth-child(1), .navbar-toggle.open > span:nth-child(3) {
    width: 25px;
}

.navbar-toggle.open > span:nth-child(1) {
    -webkit-transform: translateX(-10px) rotate(-45deg);
            transform: translateX(-10px) rotate(-45deg);
}

.navbar-toggle.open > span:nth-child(3) {
    -webkit-transform: translateX(-10px) rotate(45deg);
            transform: translateX(-10px) rotate(45deg);
}

.consult-nav {
    z-index: 999;
}

.consult-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.consult-nav li {
    position: relative;
    z-index: 9;
}

.consult-nav li a {
    display: block;
    position: relative;
    text-decoration: none;
}

@media (min-width: 993px) {
    .consult-nav {
        text-align: center;
    }

    .consult-nav li:hover > a {
        color: #64ABD1;
    }

    .consult-nav .consult-menu .sub-menu {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
        -webkit-transform-origin: 50% 0;
                 transform-origin: 50% 0;
    }

    .consult-nav .consult-menu li:hover > .sub-menu {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
    }

    .consult-nav .consult-menu a {
        padding: 20px 30px;
    }

    .consult-nav .consult-menu .sub-menu {
        background-color: #fff;
        text-align: left;
        border: 1px solid rgba(0, 0, 0, .1);
        border-top: 3px solid #64ABD1;
    }

    .consult-nav .consult-menu .sub-menu a {
        padding: 10px 15px;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

    .consult-nav .consult-menu .sub-menu a:after {
        right: 15px;
    }

    .consult-nav .consult-menu .sub-menu li .sub-menu {
        top: -2px;
    }

    .consult-nav .consult-menu .sub-menu li:first-child > a {
        border-top: 0;
    }

    .consult-nav .consult-menu .sub-menu li:first-child .sub-menu {
        top: -3px;
    }

    .consult-nav .consult-menu > li {
        display: inline-block;
    }

    .consult-nav .consult-menu a {
        font-size: 16px;
        color: #868686;
        transition: all 300ms ease;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 22px;
        height: 100px;
        line-height: 100px;
    }

    .consult-nav .consult-menu .sub-menu {
        display: block !important;
    }

    .consult-nav .consult-menu .sub-menu .current-menu-parent > a,
    .consult-nav .consult-menu .sub-menu .current-menu-item > a {
        color: #64ABD1;
    }

    .consult-nav .consult-menu .current-menu-parent > a,
    .consult-nav .consult-menu .current-menu-item > a {
        color: #64ABD1;
    }

    .consult-nav .consult-menu .sub-menu {
        width: 250px;
        position: absolute;
        top: 100%;
        z-index: -1;
        left: 0;
        transition: all 300ms cubic-bezier(.175, .885, .32, 1.275);
    }

    .consult-nav .consult-menu .sub-menu .sub-menu {
        top: 0;
        left: 100%;
    }

    .consult-nav .consult-menu .sub-menu li.menu-item-has-children > a:after {
        font-family: "FontAwesome";
        content: "\F105";
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
    }

    .consult-nav .consult-menu .sub-menu li > a {
        font-size: 14px;
        transition: all 300ms ease;
        font-weight: 300;
        text-transform: capitalize;
        height: auto;
        line-height: 1.875;
        color: #8f8f8f;
        border-bottom: none;
        box-shadow: none;
    }

    .consult-nav .consult-menu .sub-menu li:hover > a {
        color: #64ABD1;
    }

    .consult-nav .consult-menu .sub-menu li .current-menu-parent > a,
    .consult-nav .consult-menu .sub-menu li .current-menu-item > a {
        color: #64ABD1;
    }

    .consult-nav .navbar-toggle {
        display: none;
    }
}

@media (max-width: 992px) {
    .consult-nav .consult-menu {
        position: fixed;
        top: 0;
        will-change: transform;
    }

    .consult-nav .consult-menu a {
        font-size: 14px;
    }

    .consult-nav .consult-menu a:after {
        right: 0;
        width: 50px;
        text-align: center;
    }

    .consult-nav .consult-menu .sub-menu {
        display: none;
    }

    .consult-nav .consult-menu {
        background-color: #111;
    }

    .consult-nav .consult-menu a {
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        color: #eee;
    }

    .consult-nav .consult-menu a:after {
        border-left: 1px solid rgba(255, 255, 255, .1);
    }

    .consult-nav .consult-menu {
        left: 0;
        width: 280px;
        background-color: #111;
        -webkit-transform: translate(-100%, 0);
                transform: translate(-100%, 0);
    }

    .consult-nav .active.consult-menu {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }

    .consult-nav .consult-menu {
        z-index: 99999;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: left;
        width: 280px;
        transition: all 300ms ease;
    }

    .consult-nav .consult-menu li {
        position: relative;
    }

    .consult-nav .consult-menu li.menu-item-has-children > a:after {
        font-family: "FontAwesome";
        content: "\F107";
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
    }

    .consult-nav .consult-menu a {
        padding: 12px 15px;
        font-size: 14px;
    }

    .consult-nav .consult-menu a:hover {
        color: #64ABD1;
    }

    .consult-nav .consult-menu .active > a {
        color: #64ABD1;
    }

    .consult-nav .consult-menu .current-menu-parent > a,
    .consult-nav .consult-menu .current-menu-item > a {
        color: #64ABD1;
    }

    .consult-nav .consult-menu .sub-menu a {
        padding: 12px 15px;
    }

    .consult-nav .consult-menu .sub-menu .menu-item-has-children > a:hover {
        color: #64ABD1;
    }

    .consult-nav .consult-menu .sub-menu .menu-item-has-children.active > a {
        color: #64ABD1;
    }

    .consult-nav .consult-menu .sub-menu .menu-item-has-children.current-menu-parent > a {
        color: #64ABD1;
    }

    .consult-nav .consult-menu .sub-menu .current-menu-item > a {
        color: #64ABD1;
    }

    .consult-nav .navbar-toggle {
        display: block;
    }
}


/* 31. consult_layoutBlog
--------------------------------------------------------------------------------*/

.layout-blog {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.layout-blog__content {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
        flex: 0 0 100%;
    max-width: 100%;
}

.layout-blog__sidebar {
    display: none;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.sidebar-left .layout-blog__sidebar, .sidebar-right .layout-blog__sidebar {
    display: block;
}

@media (min-width: 992px) {
    .sidebar-left .layout-blog__content {
        -ms-flex: 0 0 66.666667%;
        -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
        max-width: 66.666667%;
        margin-left: 8.333333%;
        -ms-flex-order: 12;
        -webkit-box-ordinal-group: 13;
        order: 12;
    }

    .sidebar-left .layout-blog__sidebar {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: 0;
            flex: 0 0 25%;
        max-width: 25%;
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }

    .sidebar-right .layout-blog__content {
        -ms-flex: 0 0 66.666667%;
        -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .sidebar-right .layout-blog__sidebar {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: 0;
            flex: 0 0 25%;
        max-width: 25%;
        margin-left: 8.333333%;
    }
}


/* 32. consult_pageTitle
--------------------------------------------------------------------------------*/

.page-title {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f7f7f7;
    text-align: center;
}

@media (min-width: 0) {
    .page-title {
        padding-top: calc(8.68056pxvw + 50px);
        padding-bottom: calc(8.68056pxvw + 50px);
    }
}

@media (min-width: 576) {
    .page-title {
        padding-top: calc(8.01282vw + 53.84615px);
        padding-bottom: calc(8.01282vw + 53.84615px);
    }
}

@media (min-width: 1200px) {
    .page-title {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

.page-title__title {
    font-size: 30px;
    font-weight: 400;
}

@media (min-width: 0) {
    .page-title__title {
        font-size: calc(3.16667vw + 30px);
    }
}

@media (min-width: 1200px) {
    .page-title__title {
        font-size: 68px;
    }
}


/* 33. consult_sidebar
--------------------------------------------------------------------------------*/


/* 34. consult_slider
--------------------------------------------------------------------------------*/

.slider {
    position: relative;
}

.slider .owl-video-tn {
    width: 100%;
    background-size: cover;
}

.slider__item {
    height: 100vh;
    text-align: center;
}

.slider__item:after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.slider__content {
    position: relative;
    z-index: 2;
}

.slider__content h2 {
    font-weight: 400;
    color: white;
    font-size: 30px;
}

@media (min-width: 320px) {
    .slider__content h2 {
        font-size: calc(5.65476vw + 11.90476px);
    }
}

@media (min-width: 992px) {
    .slider__content h2 {
        font-size: 68px;
    }
}

.slider__content p {
    font-size: 18px;
    color: #c2c2c2;
}




.filter__list {
    text-align: center;
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
}

.filter__list > li {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
}

.filter__list > li.current > a {
    color: #64ABD1;
}

.filter__list a {
    font-weight: 700;
    color: #c2c2c2;
}

.filter__list a:hover {
    color: #64ABD1;
}
.consult_logo {
    display: block;
}

.consult-background {
    background-image: url("../img/backgrounds/3.jpg");
    background-repeat: repeat;
    background-size: initial;
}

.consult-phone {
    color: #64ABD1;
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
}

@media (min-width: 320px) {
    .consult-phone {
        font-size: calc(2.95455vw + 20.54545px);
    }
}

@media (min-width: 1200px) {
    .consult-phone {
        font-size: 56px;
    }
}

.consult-back {
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: white;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .2);
    border: 1px solid #ebebeb;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 60px;
    transition: all ease .3s;
    font-size: 18px;
    color: #64ABD1;
    text-align: center;
}

.consult-back:hover {
    border-color: #64ABD1;
    background-color: #64ABD1;
    color: white;
}

.consult-404 {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.consult-404__content {
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: 320px) {
    .consult-404__content {
        padding-top: calc(22.32143vw - 21.42857px);
        padding-bottom: calc(22.32143vw - 21.42857px);
    }
}

@media (min-width: 992px) {
    .consult-404__content {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.consult-404__content > img {
    margin-bottom: 55px;
}

.consult-404__content > h1 {
    font-size: 80px;
    font-weight: 400;
    color: #64ABD1;
    letter-spacing: 20px;
    margin-bottom: 5px;
}

@media (min-width: 320px) {
    .consult-404__content > h1 {
        font-size: calc(5.95238vw + 60.95238px);
    }
}

@media (min-width: 992px) {
    .consult-404__content > h1 {
        font-size: 120px;
    }
}

.consult-404__content > h2 {
    font-weight: 400;
}

.consult-404__content a {
    color: #64ABD1;
    font-weight: 700;
    text-decoration: underline;
}

.consult-commingsoon {
    text-align: center;
}

.consult-commingsoon h4 {
    font-weight: 400;
}

.consult-commingsoon h3 {
    margin-bottom: 100px;
}

.consult-postDetail__main, .consult-projectDetail__main {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 16px;
}

@media (min-width: 768px) {
    .consult-postDetail__main, .consult-projectDetail__main {
        padding-top: calc(20.83333vw - 110px);
        padding-bottom: calc(20.83333vw - 110px);
    }
}

@media (min-width: 1200px) {
    .consult-postDetail__main, .consult-projectDetail__main {
        padding-top: 60px;
        padding-bottom: 140px;
    }
}

@media (min-width: 992px) {
    .consult-postDetail__main, .consult-projectDetail__main {
        margin-top: -150px;
        padding-left: 0;
        padding-right: 0;
    }

    .consult-postDetail__main p.text, .consult-postDetail__main .image-full,
    .consult-projectDetail__main p.text,
    .consult-projectDetail__main .image-full {
        margin-bottom: 70px;
    }
}

.consult-postDetail__main p.text, .consult-postDetail__main .image-full,
.consult-projectDetail__main p.text, .consult-projectDetail__main .image-full {
    margin-bottom: 40px;
}

.consult-postDetail__main .social-01, .consult-projectDetail__main .social-01 {
    float: left;
    margin-bottom: 30px;
}

.consult-postDetail__main .social-01 + *,
.consult-projectDetail__main .social-01 + * {
    clear: both;
}

@media (min-width: 992px) {
    .consult-postDetail__main .social-01,
    .consult-projectDetail__main .social-01 {
        position: absolute;
        left: 0;
    }

    .consult-postDetail__main .social-01 .social-01__item,
    .consult-projectDetail__main .social-01 .social-01__item {
        display: block;
        margin: 20px 10px;
    }
}

@media (min-width: 1200px) {
    .consult-postDetail__main .social-01,
    .consult-projectDetail__main .social-01 {
        left: 10%;
    }
}

.consult-postDetail__main h1, .consult-projectDetail__main h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    .consult-postDetail__main h1, .consult-projectDetail__main h1 {
        font-size: calc(2.88462vw + 7.38462px);
    }
}

@media (min-width: 1200px) {
    .consult-postDetail__main h1, .consult-projectDetail__main h1 {
        font-size: 42px;
    }
}

.consult-postDetail__meta {
    list-style: none;
    padding: 0;
    margin: 0 0 70px;
}

.consult-postDetail__meta li {
    display: inline-block;
    margin-right: 30px;
    color: #c2c2c2;
    font-size: 14px;
}

.consult-postDetail__meta li i {
    margin-right: 10px;
}

.consult-projectDetail__slider .owl-dots {
    left: 0;
    right: 0;
    bottom: 50px;
    position: absolute;
}

.files-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.benmadigan-home-contact {
    background-image:url('/assets/img/backgrounds/jan-21-bg.jpg');
}

#video-wrap {
    width: 100%;
    text-align: center;
    background: #000;
}

#video-wrap {
    position: relative;
}

#video-wrap video {
    width: 80%;
    background-image:url('/assets/img/backgrounds/video-bg.jpg');
}

#video-wrap #volume {
    width: 100%;
    height: 36px;
    position: absolute;
    bottom: 25px;
    opacity: .3;
    transition: opacity .5s;
}

#video-wrap #volume.unmuted {
    opacity: 1;
}