<!-- footer -->
<footer class="footer">
  <div class="footer__main">
    <div class="row row-eq-height">
      <div class="col-8 col-sm-7 col-md-9 col-lg-3 ">
        <div class="footer__item"><a class="consult_logo" href="#"><img src="assets/img/logo.png" alt=""/></a>
          
        </div>
      </div>
      <div class="col-sm-8 col-md-4 col-lg-3 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
        <div class="footer__item">
          <p>Ben Madigan Preparatory School<br>690 Antrim Road<br>Belfast<br>BT15 5GP</p>
            
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 ">
        <div class="footer__item">
          <p><a href="tel:028 9077 1139">028 9077 1139</a></p>
            
        </div>
      </div>
      <div class="col-md-4 col-lg-2 col-xl-2 ">
        <div class="footer__item">
            
            
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2  consult_backToTop">
        <div class="footer__item"><a href="#" id="back-to-top"> <i class="fa fa-angle-up" aria-hidden="true"> </i><span>Back To Top</span></a></div>
      </div>
    </div>
  </div>
</footer><!-- End / footer -->