<!-- header -->
<header class="header">
				
  <div class="container">
    <div class="header__logo"><a href="index.html"><img src="../assets/img/logo_dark.png" alt=""/></a></div>
    
    <!-- consult-nav -->
    <nav class="consult-nav">
      
      <!-- consult-menu -->
      <ul class="consult-menu">
        <li class="menu-item-has-children"><a href="">Our School</a>
          <ul class="sub-menu">
            <li><a href="ben-madigan-at-a-glance.html">Ben Madigan At a Glance</a></li>
            <li><a href="ben-madigan-life.html">Ben Madigan Life</a></li>
            <li><a href="mission-statement.html">Mission Statement</a></li>
            <li><a href="policies.html">Policies</a></li>
            <li><a href="inspection-report.html">Inspection Report</a></li>
            <li><a href="staff.html">Staff</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children"><a href="">Pre-School</a>
          <ul class="sub-menu">Lea
              <li><a href="pre-school-life.html">Pre-School Life</a></li>
              <li><a href="the-pre-school-day.html">The Pre-School Day</a></li>
              <li><a href="peace-of-mind.html">Peace of mind</a></li>
            </ul>
        </li>
        <li class="menu-item-has-children"><a href="#">Admissions</a> 								<ul class="sub-menu"> 									<li><a href="prospectus.html">Prospectus</a></li> 									<li><a href="fees.html">Fees</a></li> 									<li><a href="application-form.html">Application Form</a></li> 								</ul> 							</li>
        <li class="menu-item-has-children"><a href="day-care.html">Day Care</a> 								<ul class="sub-menu"> 									<li><a href="family-focused-support.html">Family Focused Support</a></li> 									<li><a href="teacher-and-externally-led-clubs.html">Teacher and Externally-led Clubs</a></li> 								</ul> 							</li>
        <li class="menu-item"><a href="http://belfastroyalacademy.com/?cat=4">Jobs</a></li>
      </ul><!-- consult-menu -->
      
      <div class="navbar-toggle"><span></span><span></span><span></span></div>
    </nav><!-- End / consult-nav -->
    
  </div>
</header><!-- End / header -->