<head>
  <title>Ben Madigan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- Fonts-->
  <link rel="stylesheet" type="text/css" href="assets/fonts/fontawesome/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="assets/fonts/themify-icons/themify-icons.css">
  <!-- Vendors-->
  <link rel="stylesheet" type="text/css" href="assets/vendors/bootstrap4/bootstrap-grid.min.css">
  <link rel="stylesheet" type="text/css" href="assets/vendors/magnific-popup/magnific-popup.min.css">
  <link rel="stylesheet" type="text/css" href="assets/vendors/owl.carousel/owl.carousel.css">
  <!-- App & fonts-->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&amp;amp;subset=latin-ext">
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133294161-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-133294161-1');
  </script>
</head>