<!-- Vendors-->
<script type="text/javascript" src="assets/vendors/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
<script type="text/javascript" src="assets/vendors/isotope-layout/isotope.pkgd.js"></script>
<script type="text/javascript" src="assets/vendors/jquery.countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="assets/vendors/jquery.countTo/jquery.countTo.min.js"></script>
<script type="text/javascript" src="assets/vendors/jquery.countUp/jquery.countup.min.js"></script>
<script type="text/javascript" src="assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
<script type="text/javascript" src="assets/vendors/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.js"></script>
<script type="text/javascript" src="assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="assets/vendors/masonry-layout/masonry.pkgd.js"></script>
<script type="text/javascript" src="assets/vendors/owl.carousel/owl.carousel.js"></script>
<script type="text/javascript" src="assets/vendors/jquery.waypoints/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="assets/vendors/menu/menu.min.js"></script>
<script type="text/javascript" src="assets/vendors/smoothscroll/SmoothScroll.min.js"></script>
<!-- App-->
<script type="text/javascript" src="assets/js/main.js"></script>

<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48455901-1', 'benmadigan.com');

  ga('send', 'pageview');

 

</script>